<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bfc87244b9.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/Images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/style.css">
    <title>ShareBox</title>
</head>

<body class="download-pg">
    <div class="logo"></div>

    <section class="download">
        <img class="download__icon" src="/Images/download-sd.svg" alt="download">
        <% if(locals.error){ %>
            <h4>
                <%= locals.error %> 😏
            </h4>
            <% } else { %>
                <h2>Your file is ready to download</h2>
                <p>Link expires in 24 hours</p>
                <div class="download__meta">
                    <h4>
                        <%= fileName %>
                    </h4>
                    <small>
                        <%= parseInt(fileSize/1000) %> KB
                    </small>
                </div>
                <div class="send-btn-container">
                    <a href="<%= downloadLink %>">Download file</a>
                </div>
                <% } %>
    </section>
</body>

</html>